{% extends 'base.html.twig' %}

{% block body %}
{% if portfolio %}
	<h1>Portfolio {{portfolio.name}}</h1>
	<hr />
{% endif %}

{% if error %}
    <div>{{ error }}</div>
{% endif %}

{% if portfolio %}
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.symbol) }}
        </div>

        <button class="btn btn-primary" type="submit">Add Stock</button>
    {{ form_end(form) }}
{% endif %}

{% if data %}
<hr />

<h4>Stocks</h4>
<ul class="list-inline">
    {% for stock in stocks %}
        <li><a href="/remove_stock/{{ portfolio.id }}/{{ stock.id }}"<span class="glyphicon glyphicon-remove"></span></a> {{ stock.symbol }}</li>
    {% endfor %}
</ul>

<hr />

<h4>Performance</h4>
<svg width="1000" height="500"></svg>
{% endif %}
{% endblock %}

{% block page_javascripts %}
{% if data %}
<script>
	var data = [
		{% for date, value in data %}
			{"date": "{{ date }}", "value": {{ value }}},
		{% endfor %}
	];

	var svg = d3.select("svg"),
	    margin = {top: 20, right: 20, bottom: 30, left: 50},
	    width = +svg.attr("width") - margin.left - margin.right,
	    height = +svg.attr("height") - margin.top - margin.bottom,
	    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var parseTime = d3.timeParse("%Y-%m-%d");

	var x = d3.scaleTime()
	    .rangeRound([0, width]);

	var y = d3.scaleLinear()
	    .rangeRound([height, 0]);

	var line = d3.line()
	    .x(function(d) { return x(parseTime(d.date)); })
	    .y(function(d) { return y(d.value); });

	x.domain(d3.extent(data, function(d) { return parseTime(d.date); }));
	y.domain(d3.extent(data, function(d) { return d.value; }));

	g.append("g")
		.attr("transform", "translate(0," + height + ")")
		.call(d3.axisBottom(x))
	.select(".domain")
		.remove();

	g.append("g")
		.call(d3.axisLeft(y))
	.append("text")
		.attr("fill", "#000")
		.attr("transform", "rotate(-90)")
		.attr("y", 6)
		.attr("dy", "0.71em")
		.attr("text-anchor", "end")
		.text("Price ($)");

	g.append("path")
		.datum(data)
		.attr("fill", "none")
		.attr("stroke", "steelblue")
		.attr("stroke-linejoin", "round")
		.attr("stroke-linecap", "round")
		.attr("stroke-width", 1.5)
		.attr("d", line);
</script>
{% endif %}
{% endblock %}