{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>

    <button class="btn btn-primary" type="submit">Add Portfolio</button>
{{ form_end(form) }}

<hr />

<h4>Portfolios</h4>
<ul class="list-unstyled">
    {% for portfolio in portfolios %}
        <li><a href="/portfolio/{{ portfolio.id }}">{{ portfolio.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}